# Operators In Python
---

#### 1.1

In [4]:
print("2+3=",2+3)
print("2-3=",2-3)
print("2*3=",2*3)
print("2/3=",2/3)   #division in float
print("2//3=",2//3) #division in int
print("2**3=",2**3) # Does not work on terminal
print("2%3=",2%3)   #modulus:Remainder operator

2+3= 5
2-3= -1
2*3= 6
2/3= 0.6666666666666666
2//3= 0
2**3= 8
2%3= 2

  ---
  1.Operator presidence in python is according to PEMDAS
sequence (pyrenthesis Exponence Multiplication Divison Addition Subtraction).

  2. (#) is used for single comment. Ctrl+/ is used for multi-line comments.
  ---

# strings


#### 1.2

In [5]:
a='Hello World' 
print(a)

b="kese ho"
print(b)

c="""Kya haal ha"""
print(c)

d='''teak ho'''
print(d)

Hello World
kese ho
Kya haal ha
teak ho

Above all are strings ("or') don't make any sense.

In [6]:
print(   "Coding with @baba_Ammar"    )
print("   Coding with @baba_Ammar    ")

Coding with @baba_Ammar
   Coding with @baba_Ammar

Spaces in between Qutation marks are usefull in console screen only not outside.

# Comments

#### 1.3

Statements we don't want to print on console 
are comments.

(#) is used of single line comment.
(Ctrl+/) is used of single Multi-line comment.

In [7]:
print(2+3) #Addition(Comment)
print(2-3) #Subtraction(Comment)

5
-1

# Variables

#### 1.4

1.Integer(Numeric)

2.Float(Numeric)

3.String 

4.Boolean

5.Bitwise

In [8]:
a=4  #int
print(a)
print(type(a))

4
<class 'int'>

In [9]:
b=4.5 #float
print(b)
print(type(b))

4.5
<class 'float'>

In [10]:
c=b>a #boolean
print(c)
print(type(c))

True
<class 'bool'>

In [11]:
d="@baba_Ammar"
print(d)
print(type(d))

@baba_Ammar
<class 'str'>

## Rules for Assaigning Variable Names

1.Should not Start with Numbers.

2.Should not use special chars.

3.Should not use reserved keywords.

4.should be short and dercriptive.

5.Python is Case sensitive.

6.No Spaces Allowed.

---

In [12]:
a=6
print(a)
print(type(a))
a="@baba_Ammar"
print(a)
print(type(a))

6
<class 'int'>
@baba_Ammar
<class 'str'>

--- Above code illustrates that Pythons Allows variables to be typecast in runtime.

# Input Variables

#### 1.5

Input Fuction

1st state

In [13]:
a=input("Statement you want to print before taking input from user :")
print(a)

Statement you want to print before taking input from user :ali
ali

2nd stage

In [14]:
a=input("Statement you want to print before taking input from user :")
print("Your Input:",a)

Statement you want to print before taking input from user :ali
Your Input: ali

3rd stage

In [15]:
a=input("Statement you want to print before taking input from user :")
b="Hello"
print(b," Your Input:",a)

Statement you want to print before taking input from user :ali
Hello  Your Input: ali

# Conditional Logics

#### 1.6

(==) Equal to

(!=) Not Equal to

(>)  Greater than

(<)  Less than

(>=) Greater than or Equal to

(<=) Less than or equal to

In [16]:
print (4<5)
print (4>5)
print (4==4)
print (4!=5)
print (4<=5)
print (4>=5)

True
False
True
True
True
False

# Type conversion / Type Casting

#### 1.7

Explicit conversion

In [17]:
x="5"
print(x)
print(type(x))

x=float(x)
print(x)
print(type(x))

x=int(x)
print(x)
print(type(x))

5
<class 'str'>
5.0
<class 'float'>
5
<class 'int'>

Implicit Conversion

In many Cases variables are automatically typecast to other datatypes.
it is known as implicit conversion.

In [20]:
a=10
b=1.0
c=a+b
print(c)
print(type(c))

c=a*b
print(c)
print(type(c))

c=a/b
print(c)
print(type(c))

c=a-b
print(c)
print(type(c))

11.0
<class 'float'>
10.0
<class 'float'>
10.0
<class 'float'>
9.0
<class 'float'>

# If ,If Else , IF Else IF Statements 

#### 1.8

if statement

In [1]:
r_age = 5
print("The age Required to enter School is :",r_age)
age = input("Enter Your age :")
age=int(age)
if(r_age==age):
    print("you can join school")

The age Required to enter School is : 5
Enter Your age :5
you can join school

If Else statemnt

In [2]:
r_age = 5
print("The age Required to enter School is :",r_age)
age = input("Enter Your age :")
age=int(age)
if(r_age==age):
    print("you can join school")
else:
    print("you can't join school")

The age Required to enter School is : 5
Enter Your age :6
you can't join school

IF Else If statement

In [5]:
r_age = 5
print("The age Required to enter School is :",r_age)
age = input("Enter Your age :")
age=int(age)
if(r_age==age):
    print("you can join school")
elif(r_age<age):
    print("you should Join Heigher classes")
else:
    print("you can't join school")

The age Required to enter School is : 5
Enter Your age :6
you should Join Heigher classes

# Functions

#### 1.9

In [11]:
def func1():
    print("@baba_Ammar")

print(func1())  
print(func1())  
print(func1())

@baba_Ammar
None
@baba_Ammar
None
@baba_Ammar
None

In [10]:
def func2():
    text="@baba_Ammar"
    print(text)
    print(text)
    print(text)

print(func2())

@baba_Ammar
@baba_Ammar
@baba_Ammar
None

In [12]:
def func2(text):
    
    print(text)
    print(text)
    print(text)

print(func2("@baba_Ammar"))

@baba_Ammar
@baba_Ammar
@baba_Ammar
None

In [13]:
def func2():
    
    print("@baba_Ammar")
    print("@baba_Ammar")
    print("@baba_Ammar")

print(func2())

@baba_Ammar
@baba_Ammar
@baba_Ammar
None

# loops

#### 1.10

While loop.

In [2]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i=0
while(i<6):
    if(i==2):
        continue
    else:
        print(i)
    i=i+1

0
1

In [12]:
li=[1,2,3,4,5]
while(i in li):
    print(i)
    i=i+1
    
# it will not give any result and also don't give error.

In [4]:
i=0
while(i<6):
    if(i==2):
        break
    else:
        print(i)
    i=i+1

0
1

Continue statement in while does not work correctly.

For loop

In [13]:
li=[1,2,3,4,5]
for i in li:
    print(i)

1
2
3
4
5

In [15]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [2]:
for i in range(0,6):
    if(i==4):
        break
    else:    
        print(i)

0
1
2
3

In [3]:
for i in range(0,6):
    if(i==4):
        continue
    else:    
        print(i)

0
1
2
3
5

# libraries

#### 1.11

In [1]:
import math

print(math.pi)

3.141592653589793

In [4]:
import statistics

li=[6,5,3,4,1,2]
print(statistics.mean(li))

3.5

# Trouble shooting

#### 1.12

print(hello) syntax Error.

print(5/0)    logical/runtime error

a="ali"      Semantic Error
print("hello a")